<%= form_for(@discussion, url: discussion_path(@discussion)) do |f| %>
<div>
<%= f.label :title %>:
<%= f.text_field :title %>
</div>
<div>
<%= f.label :body %>:
<%= f.text_field :body %>
</div>
<%= f.submit %>
<% end %>
<hr>
